@tailwind base;
@tailwind components;
@tailwind utilities;

/* /* @layer base {
  :root {
    --background: 259 50% 10%;
    --foreground: 275 70% 80%;
    --card: 259 50% 10%;
    --card-foreground: 275 70% 80%;
    --popover: 259 50% 10%;
    --popover-foreground: 275 70% 80%;
    --primary: 270 60% 50%;
    --primary-foreground: 275 80% 90%;
    --secondary: 255 50% 40%;
    --secondary-foreground: 275 70% 80%;
    --muted: 255 50% 40%;
    --muted-foreground: 275 70% 80%;
    --accent: 255 50% 40%;
    --accent-foreground: 275 70% 80%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 259 50% 15%;
    --input: 259 50% 15%;
    --ring: 275 70% 80%;
    --radius: 0.75rem;
  }

  .dark:root {
    --background: 275 70% 80%;
    --foreground: 259 50% 10%;
    --card: 275 70% 80%;
    --card-foreground: 259 50% 10%;
    --popover: 275 70% 80%;
    --popover-foreground: 259 50% 10%;
    --primary: 270 60% 50%;
    --primary-foreground: 259 50% 10%;
    --secondary: 255 50% 40%;
    --secondary-foreground: 259 50% 10%;
    --muted: 255 50% 40%;
    --muted-foreground: 259 50% 10%;
    --accent: 255 50% 40%;
    --accent-foreground: 259 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 255 50% 40%;
    --input: 255 50% 40%;
    --ring: 275 70% 80%;
  } 
} */

@layer base {
  :root {
    --background: 270 51% 98%;
    --foreground: 270 74% 3%;
    --muted: 30 36% 93%;
    --muted-foreground: 30 12% 40%;
    --popover: 270 51% 97%;
    --popover-foreground: 270 74% 2%;
    --card: 270 51% 97%;
    --card-foreground: 270 74% 2%;
    --border: 270 7% 91%;
    --input: 270 7% 91%;
    --primary: 270 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 326.04 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --accent: 165.28 100% 50%;
    --accent-foreground: 150 60% 10%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 60% 50%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 270 50% 1%;
    --foreground: 270 23% 100%;
    --muted: 30 36% 7%;
    --muted-foreground: 30 12% 60%;
    --popover: 270 50% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 270 50% 2%;
    --card-foreground: 0 0% 100%;
    --border: 270 7% 14%;
    --input: 270 7% 14%;
    --primary: 270 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 312.45 100% 64.91%;
    --secondary-foreground: 0 0% 0%;
    --accent: 150 60% 50%;
    --accent-foreground: 150 60% 10%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 60% 50%;
  }
}
