@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  :root {
    --background: 270 51% 98%;
    --foreground: 270 74% 3%;
    --muted: 30 36% 93%;
    --muted-foreground: 30 12% 40%;
    --popover: 270 51% 97%;
    --popover-foreground: 270 74% 2%;
    --card: 270 51% 97%;
    --card-foreground: 270 74% 2%;
    --border: 270 7% 91%;
    --input: 270 7% 91%;
    --primary: 270 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 326.04 100% 50%;
    --secondary-foreground: 0 0% 0%;
    --accent: 165.28 100% 50%;
    --accent-foreground: 150 60% 10%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 60% 50%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 270 50% 1%;
    --foreground: 270 23% 100%;
    --muted: 30 36% 7%;
    --muted-foreground: 30 12% 60%;
    --popover: 270 50% 2%;
    --popover-foreground: 0 0% 100%;
    --card: 270 50% 2%;
    --card-foreground: 0 0% 100%;
    --border: 270 7% 14%;
    --input: 270 7% 14%;
    --primary: 270 60% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 312.45 100% 64.91%;
    --secondary-foreground: 0 0% 0%;
    --accent: 150 60% 50%;
    --accent-foreground: 150 60% 10%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 270 60% 50%;
  }
} */

@layer base {
  :root {
    --background: 147 41% 98%;
    --foreground: 147 74% 4%;
    --muted: 267 39% 93%;
    --muted-foreground: 267 3% 38%;
    --popover: 147 41% 97%;
    --popover-foreground: 147 74% 3%;
    --card: 147 41% 97%;
    --card-foreground: 147 74% 3%;
    --border: 147 10% 93%;
    --input: 147 10% 93%;
    --primary: 147 72% 55%;
    --primary-foreground: 147 72% 10%;
    --secondary: 267 72% 55%;
    --secondary-foreground: 267 72% 85%;
    --accent: 27 72% 55%;
    --accent-foreground: 27 72% 5%;
    --destructive: 0 88% 30%;
    --destructive-foreground: 0 88% 90%;
    --ring: 147 72% 55%;
    --radius: 0.5rem;
  }

  .dark:root {
    --background: 147 59% 0%;
    --foreground: 147 26% 98%;
    --muted: 267 39% 7%;
    --muted-foreground: 267 3% 62%;
    --popover: 0 0% 1%;
    --popover-foreground: 147 26% 99%;
    --card: 0 0% 1%;
    --card-foreground: 147 26% 99%;
    --border: 147 10% 10%;
    --input: 147 10% 10%;
    --primary: 147 72% 85%;
    --primary-foreground: 147 72% 5%;
    --secondary: 267 72% 85%;
    --secondary-foreground: 267 72% 25%;
    --accent: 27 72% 85%;
    --accent-foreground: 27 72% 25%;
    --destructive: 0 88% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 147 72% 85%;
  }
}
